main {
    display: flex;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}

main header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .inputs {
    display: flex;
}

main .answer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 15px;
    justify-content: center;
    align-items: center;
}