.instagram-profile {
    min-width: 90vh;
    margin: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    background-color: rgb(234,234,234);
  }
  
  .profile-header {
    display: flex;
    align-items: center;
  }
  
  .profile-picture {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-right: 16px;
  }
  
  .username {
    font-size: 18px;
    font-weight: bold;
  }
  
  .post-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 8px;
    margin-top: 16px;
  }
  
  .post-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  